<!DOCTYPE html>
<html>
<head>
	<title>home</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<meta name="mobile-web-app-capable" content="yes">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="css/styles.css">
	<link rel="shortcut icon" sizes="196x196" href="img/nysl_logo.png">
</head>
<body>
	<div id="app">

		

		<!-- home -->
		<div v-show="selecttabV == 'home'">
			<header>
			<img class="mw-100 cabecera" src="img/fondo.png" alt="fondo-header">
			<img class="w-25 logo" src="img/nysl_logo.png" alt="logo-header">
			</header>
			<main>
				<h1 class="text-center">Upcoming Events</h1>
				<div class="card m-3">
					<div class="card-body">
						<dl>
					    <dt class="card-title">August 4</dt>
					    	<dd class="card-text">- NYSL Fundraiser</dd>
					    <dt class="card-title">August 16</dt>
					    	<dd class="card-text">- Season Kick-off: Meet the Teams</dd>
					    <dt class="card-title">September 1</dt>
					    	<dd class="card-text">- First Game of the Season (Check Game Schedule for details)</dd>
					  </dl>
					</div>
				</div>

				<!-- collapse -->
				<h2 data-toggle="collapse" data-target="#demo">Contatc/Feedback</h2>
				<div id="demo" class="collapse"> 
					<p>Please email us at <a href="mailto:nysl@chisoccer.org">nysl@chisoccer.org</a></p>
					<p>or send a message to 1190267928</p>
					<h3>feedback</h3>
					<textarea name="textarea" placeholder="contanos tus dudas o sugerencias sobre la pagina o la liga"></textarea>
					<input type="submit">
				</div>
			</main>
		</div>

		<!-- fechas -->
		<div v-show="selecttabV == 'fechas'">
			<h1>Proximos Partidos</h1>
			<div class="d-flex flex-row">
			  <div class="p-2 flex-fill">Mes:
			  	<select v-model="mes">
						<option v-for="mes in meses">{{mes}}</option>
					</select>
			</div>
			  <div class="p-2 flex-fill">Dia:
			  	<select v-model="dia">
						<option v-for="dia in dias">{{dia}}</option>
					</select>
			  </div>
			</div>

			<div class="">
				<table-data :matcha="fechas[mes][dia].matchA" :matchb="fechas[mes][dia].matchB"></table-data>
			</div>
		</div>

		<!-- perfil -->
		<div v-show="selecttabV == 'perfil'">
			<p>perfil con tab para cambiar entre divs</p>

			<tarjeta-jugador v-if="Object.keys(datos).length!=0" :nombreplayer="player" :datosP="datos" :nombreteam="equipo"></tarjeta-jugador>

			<p>esta tarjeta es de ejemplo<br>con el input se podran agregar mas tarjeta, por ahora solo se puede agregar una <br>prueba escribiendo: juan, carl, bart, homero, benji, pepito o U1, U2, U3, U4, U5, U6</p>

			<input type="text" v-model="player" placeholder="escribir un nombre">
			<input type="button" @click="buscarPlayerOTeam" value="agregar">
		</div>

		<navs-tabs @show="selectVue"></navs-tabs>

	</div>

	<!-- The core Firebase JS SDK is always required and must be listed first -->
	<script src="https://www.gstatic.com/firebasejs/6.6.0/firebase-app.js"></script>

	<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#config-web-app -->

	<script>
	  // Your web app's Firebase configuration
	  var firebaseConfig = {
	    apiKey: "AIzaSyCzsaJyqWO4Ulu1wM-RBUxcspJgQx9-6jE",
	    authDomain: "webappnysl-b397e.firebaseapp.com",
	    databaseURL: "https://webappnysl-b397e.firebaseio.com",
	    projectId: "webappnysl-b397e",
	    storageBucket: "",
	    messagingSenderId: "49775778393",
	    appId: "1:49775778393:web:1f049835486d16f0bc2f48"
	  };
	  // Initialize Firebase
	  firebase.initializeApp(firebaseConfig);
	</script>

	<!-- vue -->
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <!-- cosas de bootstrap -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	<!-- js locales -->
  <script src="js/fechas.js"></script>
  <script src="js/globalVars.js"></script>
  <script src="js/componentsVue.js"></script>
  <script src="js/apuntes.js"></script>
  <script src="js/main.js"></script>
</body>
</html>