body{
	padding-left: 20vh;
	padding-bottom: 0vh;
}

#fondo-header{
	height: 150px;
}

#logo-header{
width: 15vw !important;
margin-left: 10vw;
}

.menu{
	width: 71px;
	height: 100vh;
	flex-direction: column;
}

.padingelement{
	padding-top: 25px;
}

#logo-user{
	height: 20vh;
	width: 18vw !important;
}

.logo2{
	top:22vh;
}

.selecteam{
	width: 88vw;
}

.paddincard{
	padding-top: 5px !important;
	padding-bottom: 0 !important;
}

.landizq{
	float: left;
    width: 50% !important;
    overflow: auto;
}

.izql{
	z-index: 500;
	height: 24vh;
	width: 28%;
}

.landder{
	float: left;
    width: 50% !important;
    overflow: auto;
}

.botonl{
	width: 200px !important;
}

.textograde{
	font-size: 22px;
}

.landscape{
 	bottom: 1vh !important; 
    left: 13vw;
    width: 86vw;
}

.landscapediv{
	margin-bottom: 15vh !important;
}

.botontologin{
    bottom: 1vh;
    width: 86vw ;
    left: auto;
}
.animationtextb{
	position: absolute;
	top: 12px;
	left:166px;
	opacity: 0;
	animation-name: mostar;
  	animation-duration: 3s;
  	animation-delay: 3s;
 	animation-fill-mode: forwards;
}

@keyframes mostar {
  from {opacity: 0}
  to {opacity: 1}
}

.blockd{
	display: block;
}