body{
	padding-bottom: 12vh;
}

.fondo{
	/*#033949
	0074f0*/
	background-color: #033949;
	color: white;
}
.activeTab {
	background-color: #4ec025;
	color: white;
  }

.botoncito {
  text-align: center;
  vertical-align: middle;
  height: 50px;
}
img{
	width: 100%;
  	height: auto;
}

.cabecera{
	position: relative;
}

.logo{
	position: absolute;
	top: 100px;
	right: 20px;
}
