body{
	padding-bottom: 12vh;
}

.fondo{
	/*#033949
	0074f0*/
	background-color: #033949;
	color: white;
}
.activeTab {
	background-color: #4ec025;
	color: white;
  }

.botoncito {
  text-align: center;
  vertical-align: middle;
  height: 50px;
}
img{
	width: 100%;
  	height: auto;
}

.cabecera{
	position: relative;
}

.logo{
	position: absolute;
	top: 15vh;
    left: 2vw;
}

.logo2{
	position: absolute;
	top: 16vh;
    right: 2vw;
    border-radius: 45px;
}

.selecteam{
	width: 100vw;
	font-size: 20px;
	padding-right: 6px;
}

.tarjetafloat{
    position: absolute;
    right: 3vw;
    top: 30vh;
    width: 47vw;
    height: 20vh;
    z-index: 10;
    text-align: right;
}
.contteams{
	/*width: 100vw;*/
}

.ladoizq{
    padding-left: 10px;
	float: left;
    width: 100%;
    overflow: hidden;
}

.ladoder{
    padding-left: 10px;
	float: left;
    width: 100%;
    overflow: hidden;
}

.izqf{
	z-index: 500;
	float: left;
	width: 30%;
	margin: 1vw;
	height: 14vh; 
}

.botonlogout{
	display: inline-block;
	background-color: #033949;
	color: white;
	padding: 1vh 5vw;
	border-radius: 2px;
	margin-left: 3vw;
}
.prelative{
	width: 48px;
	height: 48px;
	position: absolute;
}

.width47{
	width: 45px;
}

.mapag{
    margin: 10px;
    border: 3px solid #d45858;
}
.bordesrs{
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
}

.animationdiv{
	position: absolute;
}

.botontologin{
    bottom: 8vh;
    width: 350px;
}

.canrgandoweb{
	width: 100vw;
	height: 100vh;
}

.botonlogin{
	display: inline-block;
	background-color: #033949;
	color: white;
	padding: 1vh 5vw;
	border-radius: 2px;
	margin-right: 1vw;
    background-color: #033949;
}
/*animaciones*/
.animationtext{
	opacity: 0;
	position: relative;
	animation-name: entrada;
  	animation-duration: 1s;
  	animation-delay: 0.5s;
 	animation-fill-mode: forwards;
}

@keyframes entrada{
	from{right: 400px;opacity: 0;}
	to{right: 0px;opacity: 1;}
}
.animationtexta{
	animation-name: ocultar;
  	animation-duration: 3s;
 	animation-fill-mode: forwards;
}

@keyframes ocultar {
  from {opacity: 1}
  to {opacity: 0}
}

.animationtextb{
	position: absolute;
	top: 12px;
	left:28vw;
	opacity: 0;
	animation-name: mostar;
  	animation-duration: 3s;
  	animation-delay: 3s;
 	animation-fill-mode: forwards;
}

@keyframes mostar {
  from {opacity: 0}
  to {opacity: 1}
}

.animationdiv{
	position: relative;
	animation-name: ocultardiv;
  	animation-duration: 2s;
  	animation-delay: 6s;
 	animation-fill-mode: forwards;
}

@keyframes ocultardiv {
  from {opacity: 1}
  to {opacity: 0;position: absolute;}
}

.animationtable{
	position: relative;
	animation-name: movertable;
  	animation-duration: 2s;
 	animation-fill-mode: forwards;
}

@keyframes movertable {
  from {right: 320px}
  to {right: 0}
}