body{
	padding-bottom: 12vh;
}

.fondo{
	/*#033949
	0074f0*/
	background-color: #033949;
	color: white;
}
.activeTab {
	background-color: #4ec025;
	color: white;
  }

.botoncito {
  text-align: center;
  vertical-align: middle;
  height: 50px;
}
img{
	width: 100%;
  	height: auto;
}

.cabecera{
	position: relative;
}

.logo{
	position: absolute;
	top: 100px;
	right: 20px;
}

.bordesrs{
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
}

.animationdiv{
	position: absolute;
}
/*animaciones*/
.animationtext{
	position: relative;
	animation-name: entrada;
  	animation-duration: 1s;
  	animation-delay: 0.5s;
 	animation-fill-mode: forwards;
}

@keyframes entrada{
	from{right: 400px}
	to{right: 0px}
}
.animationtexta{
	animation-name: ocultar;
  	animation-duration: 3s;
 	animation-fill-mode: forwards;
}

@keyframes ocultar {
  from {opacity: 1}
  to {opacity: 0}
}

.animationtextb{
	position: absolute;
	top: 12px;
	left:80px;
	opacity: 0;
	animation-name: mostar;
  	animation-duration: 3s;
  	animation-delay: 3s;
 	animation-fill-mode: forwards;
}

@keyframes mostar {
  from {opacity: 0}
  to {opacity: 1}
}

.animationdiv{
	position: relative;
	animation-name: ocultardiv;
  	animation-duration: 2s;
  	animation-delay: 6s;
 	animation-fill-mode: forwards;
}

@keyframes ocultardiv {
  from {opacity: 1}
  to {opacity: 0;position: absolute;}
}

.animationtable{
	position: relative;
	animation-name: movertable;
  	animation-duration: 2s;
 	animation-fill-mode: forwards;
}

@keyframes movertable {
  from {right: 320px}
  to {right: 0}
}